@import url(https://fonts.googleapis.com/css?family=Overlock);
@import url(https://fonts.googleapis.com/css?family=Hepta+Slab);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Hepta Slab', serif;
	font-size: 1em;
	position: relative;
}

#header {
	background-color: #b980ff;
	padding: .25em;
}

nav{
	background-color: #b980ff;
	display: flex;
	justify-content: space-between;
}

nav a:link {
	
	font-size: 1.5em;
	margin: 1.5em;
	text-align: center;
	letter-spacing: 2px;
	color: #222;
	
}

nav a:visited{
	color: #fff;
}

nav a:hover{
	border-bottom: 1px solid #fff;
}

nav a:active{
	color:#fff;
}

footer {
	background-color:#b980ff;
	padding: 1em;
	text-align: center; 
}

h1 {
	font-family: 'Overlock', sans-serif;
	font-weight: normal;
	font-size: 5em;
	text-align: center;
	padding: .25em;

}

h2, 
h3, 
h4 {
	font-family: 'Overlock',sans-serif;
	font-size: 2em;
	margin-bottom: .25em;
}

p {
	font-family: 'Hepta Slab', serif;
	font-size: 1em;
	padding: .8em 0;
}

a {
	color: #CCA1B5;
	text-decoration: none;
	font-size: 1.5em;
}

img {
	width: 100%;
	display: block;
}

.about figure.subcontainer {
	width: 40%;

}

.about figcaption.subcontainer {
	width: 60%;
	padding-left: 6em;
	text-align: justify;
}

.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content:"hello";
	display: block;
	clear:both;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.about .container {
	display: flex;
	align-items: center;
	padding-top: 10em;
}

#offerings .container:last-child {
	display: flex;
	justify-content: space-between;
}

#offerings {
	padding-top: 10em;
	padding-bottom: 10em;
}

.offer {
	width: calc(33.33% - 1em);
  	text-align: center;
  	background: #fff
}

.offer:hover {
	background-color: #b980ff;
}

#offerings .container > h2 {
	margin: .5em;
	text-align: center;
	font-size: 2.5em;
}