@import url(https://fonts.googleapis.com/css?family=Overlock);
@import url(https://fonts.googleapis.com/css?family=Hepta+Slab);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Hepta Slab', serif;
	font-size: 1em;
	position: relative;
}

#header {
	background-color: #b980ff;
	padding: .25em;
}

nav{
	background-color: #b980ff;
	display: flex;
	justify-content: space-between;
}

nav a:link {
	
	font-size: 1.5em;
	margin: 1.5em;
	text-align: center;
	letter-spacing: 2px;
	color: #222;
	
}

nav a:visited{
	color: #fff;
}

nav a:hover{
	border-bottom: 1px solid #fff;
}

nav a:active{
	color:#fff;
}

footer .container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-link {
	font-size: 1em;
	margin: 1em;
	display: block;
}
h1, h2, h3, h4 {
	font-family: 'Overlock', sans-serif;
	font-weight: normal;

}
h1 {
	font-size: 5em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1em;
}

p {
	font-family: 'Hepta Slab', serif;
	font-size: 1.25em;
	padding: .5em 0;
	line-height: 1.3;
}

a {
	color: #CCA1B5;
	text-decoration: none;
	font-size: 1.5em;
}

img {
	width: 100%;
	display: block;
}

.about figure.subcontainer {
	width: 40%;

}

.about figcaption.subcontainer {
	width: 60%;
	padding-left: 2em;
	text-align: justify;
}

.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content:"hello";
	display: block;
	clear:both;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
}

.about .container {
	display: flex;
	align-items: center;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-top: 2em;
}

#offerings .container:last-child {
	display: flex;
	justify-content: space-between;
}

#offerings {
	margin-top: 4em;
	margin-bottom: 4em;
	padding-top: 4em;
	padding-bottom: 4em;
	background-color: #b980ff;
}

.offer {
	width: calc(33.33% - 2em);
  	text-align: center;
}


#offerings .container > h2 {
	text-align: center;
	padding-bottom: 1em;
}

@media (max-width: 768px) {

#offerings .container:last-child {
	flex-direction: column;
}

.offer {
	width: 100%;
	margin-top: 2em;
}

.about .container {
	flex-direction: column;
}

.about figure.subcontainer {
	width: 100%;
}

.about figcaption.subcontainer {
	width: 100%;
	text-align: justify;
	padding-left: 0; /*override existing style*/
	padding-top: 1em; 
}

}
